body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{

    font-size:50px;
}

.name-highlight{
   color:orange; 
}
.sec1{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left:2%;
}
.sec1 img{
    width:100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon,tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color:white;
    font-weight: 700;

}

.m-area{

    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position:right;
}
p{
    text-align: left;
}
.Experience{
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    height: 80%;
    padding-right: 20px;
}

.bottom-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;

}

#uniqe{

    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon,red);
    border-image-slice: 1;
}

#uniqe2{

    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue,cyan);
    border-image-slice: 1;
}

footer p{

    text-align: center;
    font-size: 15px;
}