body{
    font-family: 'Poppins', sans-serif;
}
h1{

    font-size:50px;
}

.name-highlight{
   color:orange; 
}
.sec1{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left:2%;
}
.sec1 img{
    width:100%;
}